.container {
  padding: 12px;
  background-color: #FF1C00;
  height: 100%;
}

.zone {
  background-color: #D41F17;
  border: #AA342D 4px dashed;
}

.zoneActive,
.zone:hover {
  filter: brightness(85%);
  cursor: pointer;
}