@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic-Regular.ttf');
}

@font-face {
  font-family: 'NanumGothicBold';
  src: url('/fonts/NanumGothic-Bold.ttf');
}

@font-face {
  font-family: 'NotoSansThin';
  src: url('/fonts/NotoSansKR-Thin.otf');
}

@font-face {
  font-family: 'NotoSansBlack';
  src: url('/fonts/NotoSansKR-Black.otf');
}

@font-face {
  font-family: 'NotoSansMedium';
  src: url('/fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('/fonts/NotoSansKR-Regular.otf');
}