html,
body {
  padding: 0;
  margin: 0;
  font-family: NanumGothic;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "NanumGothicBold";
  padding: 0;
  margin: 0;
}

p {
  font-family: "NotoSansThin";
  padding: 10px;
  margin: 0;
  font-size: 22px;
}

section {
  margin: 1.5em 3em 0;
}