.active {
  border: 2px red solid;
  border-radius: 5px;
}

.nonactive {
  border: 2px white solid;
  border-radius: 5px;
}

.card {
  display: inline-block;
  padding: 9px 20px;
  margin: 0 1px;
  box-sizing: border-box;
}

.card:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.card p {
  font-size: 12pt;
  padding: 0;
}

.container {
  margin: 50px;
  height: 300px;
}

.container > div {
  padding: 75px 0;
}

.h3 {
  padding-top: 30px;
  font-family: 'NotoSansRegular';
  margin: 0;
  font-size: 15pt;
}

.narrow {
  width: 60px;
  margin: 5;
}

.name {
  margin: 4px;
  font-size: 9pt;
  padding: 0;
}